/* google font import link  */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Poppins:wght@400;500;600;700&display=swap");

/* styles for all */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

/* common styles  */
a {
  text-decoration: none;
}
li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}
/* customize classes  */
.font-eb-garamond {
  font-family: "EB Garamond", serif;
}
.own-btn-bg {
  font-size: 18px;
  background-color: #b68c5a;
}
.own-btn-bg:hover {
  color: #d8d6d6;
  background-color: #6e522e;
}

/* header section styles  */
header {
  margin-top: 20px;
}

nav .navbar-brand span {
  font-size: 35px;
}

nav .navbar-nav .nav-item .nav-link {
  color: #707070;
  transition: all 0.5s;
  border-radius: 8px;
}
nav .navbar-nav .nav-item .nav-link:hover {
  color: #000;
}

/* banner section styles  */
#banner {
  margin-top: 50px;
  height: 70vh;
  min-height: 550px;
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.2)
    ),
    url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  background-position: center;
  padding: 20px;
}

#banner form .own-btn-bg {
  font-size: 20px;
  padding: 12px 30px;
}

/* practice-area section styles  */
#practice-area {
  margin-top: 100px;
}
#practice-area .card-areas {
  margin-top: 60px;
}
#practice-area .card-areas .card {
  transition: all 0.4s;
}
#practice-area .card-areas .card:hover {
  background-color: #e7e7e7;
}
#practice-area .card-areas .card img {
  width: 50px;
  height: 50px;
}

/* responsive styles  */
/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .own-input-w {
    width: 100%;
    display: block;
  }
  .section-title {
    font-size: 28px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #banner {
    min-height: 280px;
  }

  .own-input-w {
    width: 400px;
  }

  .section-title {
    font-size: 32px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  nav .navbar-nav .nav-item .nav-link:hover {
    color: #000;
    font-size: 18px;
    border: 1px solid #707070;
  }

  .own-input-w {
    max-width: 550px;
  }
  .section-title {
    font-size: 40px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
